@import "src/assets/css/vars";
.welcome {
  height: auto;
  overflow: hidden;
  position: relative;
  .slider {
    height: auto;
    width: 99vw;
    & > div {
      .fill {
        background: #02263acc;
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        height: 100%;
        width: 100%;
      }
    }
    .image-div {
      img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
      }
    }
    .info-sec {
      position: absolute;
      top: 40%;
      color: white;
      line-height: 60px;
      z-index: 111;
      margin-left: 20vw;
      text-align: center;
      width: 60vw;
      .text {
        font-size: 48px;
        font-family: $paragraph-font;
      }
      .btn-div {
        border: 2px solid white;
        margin-top: 20px;
        width: 200px;
        padding: 10px;
        display: flex;
        transition: 0.2s;
        cursor: pointer;
        .btn {
          background: transparent;
          border: none;
          font-size: 18px;
          color: white;
          font-family: $title-font;
          cursor: pointer;
        }
        &:hover {
          background: $primary-color;
          border: 2px solid $primary-color;
        }
      }
    }

    .slick-slider {
      .slick-dots {
        bottom: 2vh;
        z-index: 3 !important;
        li {
          button {
            width: 20px;
            height: 6px;
            &:before {
              position: absolute;
              top: 25%;
              left: 50%;
              width: 20px;
              height: 6px;
              content: "";
              opacity: 1;
              color: #000 !important;
              background-color: black;
              transform: translate(-50%, -50%);
              transition: all 0.3s ease-in-out;
            }
          }
          &.slick-active,
          &:hover {
            button {
              &:before {
                background-color: red;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .welcome {
    .slider {
      .info-sec {
        line-height: 36px;
        .text {
          font-size: 28px;
        }
      }
    }
  }
}
