@import "src/assets/css/vars";
.about {
  position: relative;
  height: 550px;
  background: #05465d;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .bg-img {
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 1;
    img {
      width: 100vw;
      margin-top: -60px;
      filter: grayscale(100%);
    }
  }
  .image-div {
    z-index: 1;
    padding-top: 10vh;
    animation: slide-up 1s;
    img {
      width: 1200px;
    }
  }
  .who-are-we {
    z-index: 2;
    position: absolute;
    font-family: $paragraph-font;
    font-weight: bold;
    color: $light-color;
    width: 50vw;
    text-align: center;
    top: 250px;
    animation: slide-up 1s;
    & > div {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      line-height: 27px;
    }
  }
  @media (max-width: 1200px) {
    .who-are-we {
      width: 60vw;
    }
  }
  @media (max-width: 900px) {
    .who-are-we {
      top: 200px;
      width: 80vw;
    }
  }
}
@media (max-width: 576px) {
  .about {
    height: 55vh;
    .image-div {
      display: none;
    }
    .bg-img {
      display: none;
    }
    .who-are-we {
      background: rgb(2, 3, 51);
      width: 90%;
      padding: 10px 14px;
      top: 50px;
      height: 100%;
      p {
        font-size: 14px;
      }
    }
  }
}
@keyframes slide-up {
  0% {
    opacity: 0.5;
    transform: translate(0px, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
