@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@200&display=swap");

//fonts
$title-font: "Montserrat", sans-serif;
$paragraph-font: "Raleway", sans-serif;
//colors
$primary-color: #00263acc;
$font-color: #727272;
$light-color:rgb(243, 240, 240);
